* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
  height: 100%;
}

/* clears the ‘X’ from Internet Explorer */
input[type="search"]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}
input[type="search"]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}
/* clears the ‘X’ from Chrome */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
  outline: none;
  border: none;
  background-color: transparent;
}

button:active {
  transform: translateY(1px);
}

button:disabled {
  cursor: not-allowed;
  opacity: 0.65;
}

.row {
  max-width: 1070px;
  width: 100%;
  margin: 0 auto;
  padding: 0 24px;
}

.container {
  padding: 40px 0;
  width: 100%;
}

.bold {
  font-weight: 700;
}

.btn {
  background-color: #2bd97c;
  color: #032b41;
  width: 100%;
  height: 40px;
  border-radius: 4px;
  font-size: 16px;
  transition: background-color 200ms;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 180px;
}

.btn:hover:not(:disabled) {
  background-color: #20ba68;
}

.btn:active {
  transform: translateY(1px);
}

.home__cta--btn {
  max-width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* HOME */
.section__title {
  font-size: 32px;
  color: #032b41;
  text-align: center;
  margin-bottom: 32px;
  font-weight: bold;
}

/* NAVBAR */
.nav {
  height: 80px;
}

.nav__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1070px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0 24px;
}

.nav__list--wrapper {
  display: flex;
  gap: 24px;
}

.nav__img--mask {
  max-width: 200px;
}

.nav__img {
  width: 100%;
  height: 100%;
}

.nav__list {
  cursor: not-allowed;
  color: #032b41;
  transition: color 100ms;
}

.nav__list--login:hover {
  color: #2bd97c;
}

.nav__list--login {
  cursor: pointer;
}

/* LANDING */
.landing__wrapper {
  display: flex;
}

.landing__content {
  width: 100%;
}

.landing__image--mask {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.landing__image--mask img {
  width: 100%;
  height: 100%;
  max-width: 400px;
}

.landing__content__title {
  color: #032b41;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 24px;
}

.landing__content__subtitle {
  color: #394547;
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 24px;
  line-height: 1.5;
}

/* FEATURES */

.features__wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  margin-bottom: 96px;
}

.features {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.features__icon {
  display: flex;
  justify-content: center;
  margin-bottom: 8px;
  color: #032b41;
}

.features__icon svg {
  width: 60px;
  height: 60px;
}

.features__title {
  font-size: 24px;
  color: #032b41;
  margin-bottom: 16px;
  font-weight: 500;
}

.features__sub--title {
  font-size: 18px;
  color: #394547;
  font-weight: 300;
}

.statistics__heading {
  font-size: 32px;
  font-weight: 500;
  color: #6b757b;
  margin-bottom: 16px;
}

.statistics__heading:last-child {
  margin-bottom: 0;
}

.statistics__heading--active {
  color: #2bd97c;
}

.statistics__wrapper {
  display: flex;
  gap: 80px;
  margin-bottom: 96px;
}

.statistics__wrapper:last-child {
  margin-bottom: 0;
}

.statistics__content--header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.statistics__content--header-second {
  align-items: flex-end;
}

.statistics__content--details {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 24px;
  background-color: #f1f6f4;
  padding: 40px 24px;
}

.statistics__data {
  display: flex;
  gap: 16px;
}

.statistics__data--number {
  color: #0365f2;
  font-size: 20px;
  font-weight: 600;
  margin-top: 4px;
}

.statistics__data--title {
  font-size: 20px;
  font-weight: 300;
  color: #394547;
}

/* REVIEWS */

.reviews__wrapper {
  max-width: 600px;
  margin: 0 auto;
}

.review {
  background-color: #fff3d7;
  padding: 16px;
  margin-bottom: 32px;
  border-radius: 4px;
  font-weight: 300;
}

.review__header {
  color: #032b41;
  display: flex;
  gap: 8px;
  margin-bottom: 8px;
}

.review__body {
  color: #394547;
  letter-spacing: 0.3px;
  line-height: 1.4;
}

.review__stars {
  display: flex;
}

.review__stars svg {
  width: 16px;
  height: 16px;
  fill: #0564f1;
}

.reviews__btn--wrapper {
  display: flex;
  justify-content: center;
}

/* NUMBERS */

.numbers {
  background-color: #d7e9ff;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 24px;
  padding-bottom: 40px;
  border-radius: 12px;
}

.numbers__wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

.numbers__icon {
  display: flex;
  align-items: center;
  height: 60px;
  gap: 4px;
}

.numbers__icon svg {
  color: #0365f2;
  width: 48px;
  height: 48px;
}

.numbers__star--icon svg {
  width: 20px;
  height: 20px;
}

.numbers__title {
  font-size: 40px;
  color: #032b41;
  font-weight: 600;
  margin-bottom: 16px;
}

.numbers__sub--title {
  color: #394547;
  font-weight: 300;
}

#footer {
  background-color: rgb(241 246 244);
}

.footer__top--wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin: 32px auto 64px;
}

.footer__block {
  z-index: 1;
}

.footer__link--title {
  font-weight: 600;
  margin-bottom: 16px;
  font-size: 18px;
  color: #032b41;
}

.footer__social--link-wrapper {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 16px;
}

.footer__social--link {
  display: flex;
}

.footer__link--wrapper {
  margin-bottom: 12px;
  line-height: 1;
}

.footer__link {
  color: #394547;
  font-size: 14px;
  cursor: not-allowed;
}

.footer__link--wrapper:last-child {
  margin-bottom: 0;
}

.footer__social--text {
  margin-bottom: 4px;
}

.footer__social--text b {
  font-weight: 500;
}

.footer__review--wrapper {
  display: flex;
  gap: 8px;
  margin-bottom: 8px;
}

.footer__social--img-wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}

.footer__social--img {
  display: flex;
}

.footer__copyright--wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__copyright {
  color: #032b41;
  font-weight: 500;
}

/* 


MODAL


*/

.modal {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 5s ease-in-out !important;
}

.modal__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 42px 32px 24px 32px;
  outline: none;
  border-radius: 10px;
  background-color: white;
}

.x-icon {
  position: relative;
  bottom: 28px;
  left: 180px;
  font-size: 28px;
}

.modal__content {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
}

.modal-title {
  margin-bottom: 24px;
  font-size: 20px;
}

.btn__modal {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40px;
  border-radius: 4px;
  min-width: 180px;
}

.btn__title {
  font-size: 18px;
  font-weight: 500;
}

.btn__guest {
  background-color: #3a579d;
  color: white;
}

.btn__google {
  background-color: #4285f4;
  color: white;
}

.google__icon {
  background-color: white;
  position: absolute;
  left: 2px;
  font-size: 34px;
}

.person__icon {
  position: absolute;
  left: 2px;
  font-size: 32px;
}

.seperator {
  margin: 16px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.border__line {
  background-color: #bac8ce;
  height: 1px;
  flex-grow: 1;
}

.optional {
  margin: 0 24px;
}

.login__container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 16px;
}

.error__message {
  font-size: 40px;
  z-index: 2;
}

.input {
  width: 100%;
  height: 40px;
  padding: 0 12px;
  border: 2px solid #bac8ce;
  color: #394547;
  border-radius: 4px;
  outline: none;
}

.input:focus {
  border: 2px solid #2bd97c;
}

.btn__login {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2bd97c;
  font-size: 18px;
}

.modal__no-account {
  margin-top: 16px;
  gap: 8px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.border__seperator--flipped {
  border: 1px solid #bac8ce;
}

.modal__forgot-password {
  color: #116be9;
  font-weight: 300;
  cursor: not-allowed;
}
.modal__forgot-password:hover {
  color: #054d74;
}

.modal__create-account {
  color: #116be9;
  font-weight: 300;
  cursor: pointer;
}

.modal__create-account:hover {
  color: #054d74;
}

.modal__sign-up--wrapper {
  margin-top: 16px;
}

.hidden {
  display: none;
  opacity: 0;
  pointer-events: none;
}

/* 


FOR YOU SIDEBAR


*/

.foryou__sidebar {
  background-color: #f7faf9;
  width: 200px;
  min-width: 200px;
  height: 100vh;
  z-index: 1000;
  position: fixed;
  transition: transform 0.5s ease;
}

.sidebar__opened {
  transform: translateX(0);
}

.sidebar__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #3a4649;
  transition: opacity 0.4s ease 0s;
  z-index: 10;
  opacity: 0.65;
  pointer-events: auto;
}

.navigation__list {
  flex: 1 1;
  margin-top: 40px;
}

.foryou__list--wrapper {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 60px);
  padding-bottom: 20px;
  overflow-y: auto;
}

.foryou__list--wrapper--player {
  padding-bottom: 80px;
}

.foryou__logo--wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  padding-top: 16px;
  max-width: 160px;
  margin: 0 auto;
}

.foryou__logo {
  width: 100%;
  height: 40px;
}

.sidebar__links {
  display: flex;
  align-items: center;
  height: 56px;
  color: #032b41;
  margin-bottom: 8px;
  cursor: pointer;
}

.text__icons {
  cursor: default;
}

.sidebar__links:hover {
  background-color: #f0efef;
}

.sidebar__icon {
  font-size: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
}

.small__text {
  width: 16px;
  height: 16px;
  font-weight: lighter;
  cursor: pointer;
}

.medium__text {
  width: 22px;
  height: 20px;
  font-weight: 500;
  cursor: pointer;
}

.large__text {
  width: 26px;
  height: 26px;
  font-weight: 500;
  cursor: pointer;
}

.xl__text {
  width: 34px;
  height: 34px;
  font-weight: 600;
  cursor: pointer;
}

.sidebar__link--line {
  width: 5px;
  height: 100%;
  background-color: transparent;
  margin-right: 16px;
}

.sidebar__icons--wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 24px;
}

.sidebar__icon--wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 42px;
  height: 42px;
}

.sidebar__link--underline {
  border: 2px transparent black;
  width: 38px;
}

.underline__wrapper {
  position: relative;
  bottom: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.active--tab {
  background-color: #2bd97c;
}
.active--tab--2 {
  border: 2px solid #2bd97c;
}

.sidebar__links--no-cursor {
  display: flex;
  align-items: center;
  height: 56px;
  color: #032b41;
  margin-bottom: 8px;
  cursor: not-allowed;
}

.sidebar__menu {
  width: 32px;
  height: 32px;
  display: none;
}

/* 



FOR YOU PAGE



*/

.foryou__page--wrapper {
  display: flex;
  flex-direction: column;
}

.foryou__nav-elements {
  display: flex;
}

.search__background {
  background-color: #fff;
  border-bottom: 1px solid #e1e7ea;
  height: 80px;
  z-index: 1;
  margin-left: 200px;
}

.search__wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 32px;
  max-width: 1070px;
  margin: 0 auto;
  height: 100%;
  gap: 24px;
}

.search__content {
  display: flex;
  align-items: center;
  gap: 24px;
  max-width: 340px;
  width: 100%;
}

.search {
  width: 100%;
}

.search__input--wrapper {
  display: flex;
  position: relative;
  gap: 8px;
}

.searchbar {
  height: 40px;
  width: 100%;
  padding: 0 16px;
  outline: none;
  background-color: #f1f6f4;
  color: #042330;
  border: 2px solid #e1e7ea;
  border-radius: 8px;
}

.search__btn {
  display: flex;
  align-items: center;
  position: absolute;
  height: 100%;
  width: 50px;
  right: 4px;
  justify-content: center;
  border-left: 2px solid #e1e7ea;
  font-size: 20px;
  padding-left: 8px;
  cursor: default;
}

.close__btn {
  cursor: pointer;
}

.search__results {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border: 1px solid #e1e7ea;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.14);
  position: absolute;
  top: 104px;
  right: 140px;
  padding: 16px;
  max-width: 440px;
  width: 100%;
  max-height: 640px;
  margin-left: auto;
  overflow-y: auto;
  border: 1px solid #e1e7ea;
}

.search__book--container {
  display: flex;
  align-items: center;
  padding: 16px;
  gap: 24px;
  height: 120px;
  border-bottom: 1px solid #e1e7ea;
}

.search__book--container:hover {
  background-color: #f1f6f4;
}

.search__book--details {
  display: flex;
  flex-direction: column;
}

.search__book--title {
  margin-bottom: 6px;
}

.search__book--author {
  margin-bottom: 6px;
}

.personal {
  margin-left: 200px;
  transition: margin-left 0.5s ease;
}

.for__you--title {
  margin-bottom: 16px;
}

.selected__book {
  display: flex;
  justify-content: space-between;
  background-color: #fbefd6;
  border-radius: 4px;
  padding: 24px;
  margin-bottom: 24px;
  gap: 24px;
  width: calc((100% / 3) * 2);
}

.selected__book--sub-title {
  color: #032b41;
  width: 40%;
  text-align: center;
}

.border__line--book {
  border: 1px solid #bac8ce;
}

.selcted__book--content {
  display: flex;
  width: 60%;
  gap: 16px;
}

.selected__book--title {
  margin-bottom: 8px;
}

.selected__book--author {
  font-size: 14px;
  margin-bottom: 16px;
}

.icon__wrapper {
  display: flex;
  align-items: center;
  width: 40px;
  min-width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 9999px;
  padding: 0px 0px 0px 0px;
}

.selected__book--icon {
  width: 100%;
  height: 100%;
}

.selected__book--duration-wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}

.selected__book--duration {
  color: #032b41;
  font-weight: 600;
  font-size: 14px;
}

/* 


Recommended and Suggested


*/

.recommended {
  margin-left: 200px;
  transition: margin-left 0.5s ease;
}

.suggested {
  margin-left: 200px;
  transition: margin-left 0.5s ease;
}

.header__title {
  margin-bottom: 16px;
}

.sub-title {
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 16px;
}

.books {
  display: flex;
  overflow-x: auto;
  gap: 16px;
  scroll-snap-type: mandatory;
  scroll-snap-type: x;
  margin-bottom: 32px;
}

.books::-webkit-scrollbar {
  display: none;
}

.book__link {
  position: relative;
  scroll-snap-align: start;
  padding: 32px 12px 12px;
  text-decoration: none;
  border-radius: 4px;
  max-width: 200px;
  width: 100%;
}

.book__link:hover {
  background-color: #f1f6f4;
}

.premium__sign--book {
  background-color: #032b41;
  width: -moz-fit-content;
  width: fit-content;
  height: 18px;
  padding: 0 8px;
  position: absolute;
  top: 0;
  right: 0;
  color: #fff;
  font-size: 10px;
  display: flex;
  align-items: center;
  border-radius: 20px;
}

.book__title {
  font-size: 16px;
  font-weight: 700;
  color: #032b41;
  margin-bottom: 8px;
}

.book__img--wrapper {
  margin-bottom: 8px;
}

.book__author {
  font-size: 14px;
  color: #6b757b;
  font-weight: 300;
  margin-bottom: 8px;
}

.book__sub-title {
  font-size: 14px;
  color: #394547;
  margin-bottom: 8px;
}

.book__details {
  display: flex;
  gap: 8px;
}

.book__time {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 14px;
  color: #6b757b;
}

.book__ratings {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 14px;
  color: #6b757b;
}

/* 



SETTINGS 



*/

.settings {
  margin-left: 200px;
  transition: margin-left 0.5s ease;
  width: 100%;
}

.settings__border--line {
  border-bottom: 1px solid #e1e7ea;
  width: 100%;
  margin-bottom: 16px;
}

.settings__title {
  font-size: 32px;
  padding-bottom: 16px;
}

.settings__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  padding-bottom: 24px;
}

.settings__sub-title {
  font-size: 18px;
}

.settings__upgrade--btn {
  margin-top: 8px;
  background-color: #2bd97c;
  color: #032b41;
  height: 40px;
  font-size: 16px;
  width: 100%;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 180px;
}

/* 



SALES PAGE 



*/

#plans {
  position: relative;
  z-index: 0;
  width: 100%;
  height: 100%;
}

.plans__background {
  background-color: #042b41;
  height: max-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 32px 14px 0 14px;
  border-bottom-left-radius: 40%;
  border-bottom-right-radius: 40%;
  margin: 0 auto;
}

.plans__title {
  color: #ffffff;
  font-size: 48px;
  margin-bottom: 40px;
  text-align: center;
  max-width: 1000px;
}

.plans__sub-title {
  color: #ffffff;
  font-weight: 400;
  font-size: 20px;
  margin-bottom: 32px;
}

.plans__img--wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 180px 180px 0 0;
  overflow: hidden;
  width: 400px;
}

.plans__img {
  width: 100%;
  height: 100%;
}

.plan__features--wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 56px;
}

.plan__feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.plan__feature-icon--wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-bottom: 12px;
}

.plan__feature-icon {
  width: 68px;
  height: 68px;
}

.plan__feature--text {
  text-align: center;
  line-height: 1.5;
  max-width: 280px;
}

.plan__choice {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.plan__choice--title {
  font-size: 32px;
  color: #032b41;
  text-align: center;
  font-weight: 700;
  margin-bottom: 32px;
}

.plan__choice--yearly {
  display: flex;
  border: 4px solid #bac8ce;
  border-radius: 4px;
  background-color: #f1f6f4;
  cursor: pointer;
  width: 100%;
  max-width: 680px;
  padding: 24px;
}

.active--border {
  border: 4px solid #2bd97c;
}

.plan__choice--monthly {
  display: flex;
  border: 4px solid #bac8ce;
  border-radius: 4px;
  background-color: #f1f6f4;
  cursor: pointer;
  width: 100%;
  max-width: 680px;
  padding: 24px;
}

.plan__card--title {
  font-size: 18px;
  font-weight: 600;
  color: #032b41;
  margin-bottom: 8px;
}

.plan__card--price {
  font-size: 24px;
  font-weight: 700;
  color: #032b41;
  margin-bottom: 8px;
}

.plan__card--text {
  color: #6b757b;
  font-size: 14px;
}

.plan__card--wrapper {
  display: flex;
  flex-direction: column;
  margin-left: 16px;
}

.plan__card--circle {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 2px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.plan__card--dot {
  width: 6px;
  height: 6px;
  background-color: #000;
  border-radius: 50%;
}

.plan__border--line {
  border: solid 0.5px #bac8ce;
  width: 80px;
}

.plan__card--btn--wrapper {
  position: sticky;
  bottom: 0;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 32px 0 32px 0;
  width: 100%;
  height: 100%;
  background-color: white;
}

.plan__choice--btn {
  background-color: #2bd97c;
  color: #032b41;
  height: 40px;
  border-radius: 4px;
  font-size: 16px;
  transition: background-color 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 300px;
  margin-bottom: 16px;
}

.plan__choice--gurantee {
  font-size: 12px;
  color: #6b757b;
  text-align: center;
}

.plan__questions {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.plan__question {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 8px;
  border-bottom: 1px solid #ddd;
  width: 100%;
  padding: 24px;
}

.plan__question--wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.plan__arrow--icon {
  width: 28px;
  height: 28px;
  cursor: pointer;
  transition: transform 0.3s;
}

.plan__arrow--icon.plan__arrow--icon--rotate {
  transform: rotate(180deg);
}

.plan__question--answer {
  height: 0;
  opacity: 0;
  overflow: hidden;
  transition: height 0.7s ease;
}

.plan__question--answer.active {
  height: 72px;
  opacity: 1;
  line-height: 1.5;
}

/* 



FOOTER 



*/

.plans__footer {
  background-color: #f1f6f4;
}

.footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 28px auto 60px;
}

.footer__block {
  display: flex;
  flex-direction: column;
}

.footer__link {
  color: #394547;
  margin-bottom: 12px;
  line-height: 1;
}

.footer__copyright--wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__copyright {
  color: #032b41;
  font-weight: 600;
  font-size: 16px;
}

/* 



BOOK PAGE



*/

.book__page {
  margin-left: 200px;
  transition: margin-left 0.5s ease;
}

.book__page--wrapper {
  display: flex;
  gap: 16px;
  width: 100%;
}

.book__page--content {
  width: 70%;
}

.book__page--img--wrapper {
  width: 30%;
  height: 300px;
  width: 300px;
  min-width: 300px;
}

.book__page--img {
  height: 100%;
  width: 100%;
}

.book__page--details--wrapper {
  display: flex;
  flex-wrap: wrap;
  row-gap: 12px;
  max-width: 400px;
  padding: 16px 0;
  margin-bottom: 24px;
}

.book__page--detail {
  display: flex;
  align-items: center;
  width: 50%;
}
.book__page--icon--wrapper {
  margin-right: 4px;
  width: 24px;
  height: 24px;
}
.icon {
  width: 100%;
  height: 100%;
}

.book__page--icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.book__page--title {
  font-size: 32px;
  margin-bottom: 16px;
}

.book__page--author {
  font-size: 16px;
  margin-bottom: 16px;
}

.book__page--sub-title {
  font-size: 20px;
  margin-bottom: 16px;
  color: #032b41;
  font-weight: 300;
}

.book__page--btns--wrapper {
  display: flex;
  gap: 16px;
  margin-bottom: 24px;
}

.book__page--btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 144px;
  height: 48px;
  background-color: #032b41;
  color: #fff;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  gap: 8px;
  transition: opacity 0.2s;
}

.book__page--icon--microphone {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
}
.book__page--icon--book-open {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
}

.book__page--add-library {
  display: flex;
}

.book__mark {
  display: flex;
  align-items: center;
  color: #0365f2;
  margin-bottom: 40px;
}

.book__page--library--title {
  font-weight: 600;
  font-size: 16px;
}

.book__description--sub-title {
  font-size: 18px;
  color: #032b41;
  margin-bottom: 16px;
  font-weight: 600;
}

.book__tags--wrapper {
  display: flex;
  margin-bottom: 16px;
  gap: 16px;
  flex-wrap: wrap;
}

.book__tag {
  background-color: #f1f6f4;
  padding: 0 16px;
  height: 48px;
  display: flex;
  align-items: center;
  cursor: not-allowed;
  color: #032b41;
  font-weight: 600;
  border-radius: 4px;
  transition: background-color 0.2s;
}

.book__despriction--text {
  color: #032b41;
  margin-bottom: 16px;
  line-height: 1.5;
}

.book__author--text {
  color: #032b41;
  line-height: 1.5;
}

/* 



PLAYER PAGE



*/

.player__page {
  margin-left: 200px;
  transition: margin-left 0.5s ease;
  width: 100%;
  overflow-y: auto;
  height: calc(100vh - 160px);
}

.page__book--title {
  color: #032b41;
  font-size: 24px;
  margin-bottom: 32px;
  padding-bottom: 16px;
  line-height: 1.5;
}

.page__book--text {
  white-space: pre-line;
  line-height: 1.4;
  color: #032b41;
  max-width: 780px;
}

.page__book--text.text-size-small {
  font-size: 16px;
}

.page__book--text.text-size-medium {
  font-size: 18px;
}

.page__book--text.text-size-large {
  font-size: 22px;
}

.page__book--text.text-size-xl {
  font-size: 26px;
}

.page__book--audio {
  width: 100%;
  height: 80px;
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #042330;
  padding: 0 40px;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 9998;
}

.audio__book--title {
  font-size: 14px;
  color: #ffffff;
  font-weight: 400;
}

.audio__book--author {
  color: #bac8ce;
  font-weight: 200;
}

.audio__book--wrapper {
  display: flex;
  gap: 12px;
  width: calc(100% / 3);
}

.audo__title--wrapper {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.custom-audio-controls {
  display: flex;
  align-items: center;
}

.progress-bar {
  width: 100%;
  height: 8px;
  background-color: #ddd;
  margin: 0 8px;
  position: relative;
}

.progress-bar-fill {
  height: 100%;
  background-color: #4caf50;
}

.fast-forward {
  font-size: 28px;
  color: white;
  cursor: pointer;
}

.rewind {
  font-size: 28px;
  color: white;
  cursor: pointer;
}

.play-button {
  font-size: 40px;
  cursor: pointer;
  color: white;
}

.play__buttons--wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin: 0 24px 0 24px;
  width: calc(100% / 3);
}

.time__duration {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100% / 3);
  gap: 16px;
}

.audio__time {
  color: #ffff;
}

/* 


Logged out component


*/

.ifLoggedOut__wrapper {
  max-width: 460px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.ifLoggedOut__img {
  width: 100%;
  height: 100%;
}

.ifLoggedOut__btn {
  width: 100px;
}

.ifLoggedOut__text {
  font-weight: 700;
  color: #032b41;
  text-align: center;
  margin-bottom: 16px;
}

/* 


SKELETON LOADING STATE 


*/

.skeleton {
  animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading {
  0% {
    background-color: hsl(200, 20%, 80%);
  }
  100% {
    background-color: hsl(200, 20%, 95%);
  }
}

.title__skeleton {
  width: 240px;
  height: 20px;
}

.personal__skeleton {
  width: 700px;
  height: 200px;
}

.subtitle__skeleton {
  width: 180px;
  height: 16px;
}

.book-wrapper__skeleton {
  width: 200px;
  height: 240px;
}

.book__skeleton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 160px;
  margin-bottom: 4px;
}

.book-author__skeleton {
  margin-top: 4px;
  width: 160px;
  height: 12px;
}

.book__title__skeleton {
  margin-top: 4px;
  width: 200px;
  height: 16px;
}
.book-subtitle__skeleton {
  margin-top: 4px;
  width: 140px;
  height: 24px;
}

.book__details--skeleton {
  margin-top: 4px;
  width: 180px;
  height: 16px;
}

.setting__plan--skeleton {
  width: 280px;
  height: 20px;
}

.book__page-title__skeleton {
  width: 300px;
  height: 30px;
}

.book__page-author__skeleton {
  margin-top: 12px;
  width: 280px;
  height: 24px;
}

.book-subtitle__skeleton {
  margin-top: 12px;
  width: 100%;
  height: 34px;
}

.book__page-details__skeleton {
  margin-top: 12px;
  width: 180px;
  height: 60px;
}

.book__page-btns__skeleton {
  margin-top: 12px;
  width: 260px;
  height: 24px;
}

.book__mark__skeleton {
  margin-top: 12px;
  width: 200px;
  height: 30px;
}

.book__page-description__skeleton {
  margin-top: 12px;
  width: 200px;
  height: 60px;
}

.book__page-text__skeleton {
  margin-top: 12px;
  width: 100%;
  height: 200px;
}

.book__page-img__skeleton {
  width: 100%;
  height: 300px;
}

.spinner__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100% - 160px);
  height: 70vh;
}

.spinner {
  width: 114px;
  height: 114px;
  animation: spin 1s linear infinite;
}

.spinner__modal {
  color: #fff;
  width: 36px;
  height: 36px;
  animation: spin 1s linear infinite;
}

.player__page-img__skeleton {
  width: 48px;
  height: 48px;
}

.player__page-title__skeleton {
  width: 50px;
  height: 16px;
  margin-bottom: 8px;
}

.player__page-author__skeleton {
  width: 100px;
  height: 16px;
}

.search__results--skeleton {
  width: 100%;
  height: 120px;
  margin-bottom: 8px;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 1200px) {
  .selected__book {
    width: 100%;
  }
}

@media (max-width: 992px) {
  .book__page--wrapper {
    display: flex;
    flex-direction: column-reverse;
  }

  .book__img--content {
    display: flex;
    justify-content: center;
  }

  .page__book--text {
    max-width: 680px;
  }

  .book__page--content {
    width: 100%;
  }
}

@media (max-width: 882px) {
  .page__book--text {
    max-width: 580px;
  }

  .page__book--title {
    max-width: 600px;
  }
}

@media screen and (max-width: 768px) {
  .foryou__sidebar {
    transform: translateX(-100%);
  }
}

.sidebar__opened {
  transform: translateX(0);
}

@media (max-width: 768px) {
  .landing__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 540px;
    margin: 0 auto;
  }

  .landing__image--mask {
    display: none;
  }

  .landing__content__title {
    font-size: 24px;
  }

  .features__wrapper {
    grid-template-columns: 1fr;
  }

  .statistics__wrapper {
    flex-direction: column;
    gap: 32px;
    margin-bottom: 32px;
  }

  .statistics__heading {
    font-size: 24px;
  }

  .footer__top--wrapper {
    flex-direction: column;
    gap: 32px;
  }

  .numbers__wrapper {
    grid-template-columns: 1fr;
  }

  .statistics__content--details-second {
    order: 1;
  }

  .statistics__content--header-second {
    align-items: flex-start;
  }

  .statistics__data--title {
    font-size: 16px;
  }

  .section__title {
    font-size: 24px;
  }

  .features__title {
    font-size: 20px;
  }

  .features__sub--title {
    font-size: 14px;
  }

  .features__icon svg {
    width: 48px;
    height: 48px;
  }

  .review__body {
    font-size: 14px;
  }

  .numbers__wrapper {
    gap: 24px;
  }

  .numbers__title {
    font-size: 32px;
  }

  .numbers__sub--title {
    font-size: 14px;
  }

  .remove--tablet {
    display: none;
  }

  .sidebar__menu {
    display: block;
    cursor: pointer;
  }

  .personal {
    margin-left: 0;
  }

  .recommended {
    margin-left: 0;
  }

  .suggested {
    margin-left: 0;
  }

  .search__background {
    margin-left: 0;
  }

  .book__page {
    margin-left: 0;
  }

  .player__page {
    margin-left: 0;
  }

  .settings {
    margin-left: 0;
  }

  .foryou__list--wrapper--player {
    height: calc(100vh - 160px);
  }

  .search__background {
    margin-left: 0;
  }

  .selected__book {
    width: 100%;
    flex-direction: column;
  }

  .border__line--book {
    border: 0px;
  }

  .selected__book--sub-title {
    width: 100%;
    text-align: initial;
  }

  .selcted__book--content {
    width: 100%;
  }

  .search__results {
    max-width: unset;
    right: 0;
  }

  .page__book--audio {
    height: 180px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .time__duration {
    width: 100%;
  }

  .audio__book--wrapper {
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .play__buttons--wrapper {
    margin: 12px 0 12px 0;
  }

  .page__book--text {
    padding-bottom: 138px;
    max-width: 780px;
  }

  .page__book--title {
    width: 100%;
  }

  .spinner__wrapper {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .nav__list--mobile {
    display: none;
  }
  .foryou__list--wrapper--player {
    height: calc(100vh - 240px);
  }

  .foryou__list--wrapper {
    height: calc(100vh - 120px);
  }
}
